<footer class="footer footer-center mt-5 p-5 bg-primary text-primary-content rounded-3xl">
    <div>
        <p>Copyright © 2022 - Tüm hakları Drizzly Developer kuruluşu ile saklıdır.</p>
    </div> 
</footer>